.room {
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.room_current {
    font-weight: bold;
}

.room_removable {
    
}

.room__content {
    padding-right: 10px;
    flex: 1 1 auto;
    cursor: pointer;
}

.room__button {
    font-size: 0.8rem;
    background-color: #0f5ed2;
    border: none;
    padding: 2px 10px;
    padding-bottom: 3px;
    color: #fff;
    border-radius: 4px;
}

.room__submenu {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
}

.room_active .room__submenu {
    display: flex;
}

.submenu {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
    flex-direction: column;
}

.submenu__link {
    display: block;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    padding: 5px;
    background: none;
}

.submenu__link:hover {
    background-color: #f1f1f1;
}