@import "~bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    height: 100%;
}

.root {
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    display: block;
    padding: 8px 10px;
    margin: 0;
    border: 1px solid #000;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    outline: none;
    color: #000;
}

.form-text_error,
.form-text_error:focus-visible,
.form-text_error:focus {
    border-color: red;
}

.button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 1rem;
    background: #0b5ed7;
    border: none;
    color: #fff;
    border-radius: 4px;
    transition-duration: 5s;
    transition-property: all;

    &[disabled] {
        opacity: 0.5;
    }
}

.button_secondary {
    background-color: #5c636a;
    color: #fff;
}

.button_small {
    padding: 5px 10px;
    font-size: 0.8rem;
}

.form-error {
    font-size: 0.8rem;
    color: red;
}

.form-field {
    &__label {
        margin-bottom: 5px;
    }
}